* {
  margin: 0;
  padding: 0;
}

html,
body,
ul {
  height: 100%;
}

ul {
  position: relative;
  list-style: none;
}

li {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  line-height: 400px;
  text-align: center;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

li:nth-child(1) {
  background-color: #f1f3f8;
}

li:nth-child(2) {
  background-color: #d6e0f0;
}

li:nth-child(3) {
  background-color: #9ab3f5;
}

li:nth-child(4) {
  background-color: #7579e7;
}

li:nth-child(5) {
  background-color: #8d93ab;
}

li:nth-child(6) {
  background-color: #393b44;
}

.showing {
  z-index: 1;
  opacity: 1;
}
